@import "tailwindcss";
/* @plugin "daisyui";

@plugin "daisyui/theme" {
  name: "night";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25% 0.09 281.288);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(35% 0.144 278.697);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */
